In [2]:
import pandas as pd

In [8]:
import requests as rq
import geopandas as gp

Lets load two datasets:
- trips
- stations

In [6]:
link =  '../l2/data/201601-citibike-tripdata_first_30.csv'
trips = pd.read_csv(link)

In [7]:
trips.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1

In [15]:
st_json = rq.get('https://gbfs.citibikenyc.com/gbfs/en/station_information.json').json()

In [20]:
stations = pd.DataFrame(st_json['data']['stations'])

In [21]:
stations.head(2)

,capacity,eightd_has_key_dispenser,lat,lon,name,region_id,rental_methods,short_name,station_id
0,39,False,40.767272,-73.993929,W 52 St & 11 Ave,71.0,"[KEY, CREDITCARD]",6926.01,72
1,33,False,40.719116,-74.006667,Franklin St & W Broadway,71.0,"[KEY, CREDITCARD]",5430.08,79

## Merge

now, imagine that we need to combine two datasets - for example, get stats for each statio nand merge it to the station information (to map it on the map, using lat and lon. for example

for that, we are going to use the MERGE function. it works as you expect - merge two dataframes (horisontaly, if I may) on one or multiple columns. There are 4 types of merge - left, right, inner and outer.

**left merge** means that number of rows in the first (left) dataframe will be the same, and for each row merge will try to find match in the second dataframe. If there is no match, it will fill corresponding new columns with Null. If there is a match, it will use it, **even if this row in the right DF was copied alread**.

**right merge** works same as left merge, but in the different direction. The only difference here is column sequence and the type of the resulting dataframe (If right df is a geodataframe, it will remain the same. More on that in Geopandas sheet).

**inner merge** will keep only the combination of rows where left and right df's have a match.

Similarly, **outer merge** will keep all the combinations of matching left and right dataframes PLUS rows from right and left, even if they don't match

**Note:** you can use many columns as matching id at once

Lets make an example. I will generate stats per station, and merge it to the second df by station name or id

In [26]:
## Oopsy, we will talk about groupby later in the same notebook.
stats = trips['start station name'].value_counts() 
# value counts returns Series, but we need a DF
stats = pd.DataFrame(stats).reset_index()
## and we'll have to rename the second column
stats.columns = ['name', 'trips started']
stats.head(2)

                       name  trips started
0          W 20 St & 11 Ave              3
1  MacDougal St & Prince St              2

In [ ]:
## Now let's merge it to the stations

# new df       # left df     #right df  # merge type   # on which column, either string or list
new_stations = stations.merge(stats,    how='left',     on='name')

**Note, that while we use name here, it is usually a dangerous approach, as name have to be
EXACTLY the same, including all the whitespaces and upper/lower case**

**in general, it is better to use clear ids (we have station ids for this particular purpose),
If there is no ID, the merging process should be controlled. As a rule of thumb, we should at least
make both columns to the lower case and strip whitespaces.**

In [29]:
len(new_stations) == len(stations) #Same number of stations

True

In [34]:
## as you see. we miss data (there were no starting trips) for some stations.
## as merge had to fill cell, it added NaN. But column have to be of the same type, and NaN is a float -> whole
## column is now a float
new_stations.head(10)

,capacity,eightd_has_key_dispenser,lat,lon,name,region_id,rental_methods,short_name,station_id,trips started
0,39,False,40.767272,-73.993929,W 52 St & 11 Ave,71.0,"[KEY, CREDITCARD]",6926.01,72,NaN
1,33,False,40.719116,-74.006667,Franklin St & W Broadway,71.0,"[KEY, CREDITCARD]",5430.08,79,NaN
2,27,False,40.711174,-74.000165,St James Pl & Pearl St,71.0,"[KEY, CREDITCARD]",5167.06,82,NaN
3,62,False,40.683826,-73.976323,Atlantic Ave & Fort Greene Pl,71.0,"[KEY, CREDITCARD]",4354.07,83,NaN
4,39,False,40.741776,-74.001497,W 17 St & 8 Ave,71.0,"[KEY, CREDITCARD]",6148.02,116,NaN
5,19,False,40.696089,-73.978034,Park Ave & St Edwards St,71.0,"[KEY, CREDITCARD]",4700.06,119,NaN
6,19,False,40.686768,-73.959282,Lexington Ave & Classon Ave,71.0,"[KEY, CREDITCARD]",4452.03,120,NaN
7,31,False,40.731724,-74.006744,Barrow St & Hudson St,71.0,"[KEY, CREDITCARD]",5805.05,127,1.0
8,30,False,40.727103,-74.002971,MacDougal St & Prince St,71.0,"[KEY, CREDITCARD]",5687.04,128,2.0
9,46,False,40.761628,-73.972924,E 56 St & Madison Ave,71.0,"[KEY, CREDITCARD]",6771.02,137,NaN

In [36]:
## lets resolve it, as NaN in this case means Zero
new_stations['trips started']  = new_stations['trips started'].fillna(0).astype(int)

In [37]:
new_stations.head(10)

,capacity,eightd_has_key_dispenser,lat,lon,name,region_id,rental_methods,short_name,station_id,trips started
0,39,False,40.767272,-73.993929,W 52 St & 11 Ave,71.0,"[KEY, CREDITCARD]",6926.01,72,0
1,33,False,40.719116,-74.006667,Franklin St & W Broadway,71.0,"[KEY, CREDITCARD]",5430.08,79,0
2,27,False,40.711174,-74.000165,St James Pl & Pearl St,71.0,"[KEY, CREDITCARD]",5167.06,82,0
3,62,False,40.683826,-73.976323,Atlantic Ave & Fort Greene Pl,71.0,"[KEY, CREDITCARD]",4354.07,83,0
4,39,False,40.741776,-74.001497,W 17 St & 8 Ave,71.0,"[KEY, CREDITCARD]",6148.02,116,0
5,19,False,40.696089,-73.978034,Park Ave & St Edwards St,71.0,"[KEY, CREDITCARD]",4700.06,119,0
6,19,False,40.686768,-73.959282,Lexington Ave & Classon Ave,71.0,"[KEY, CREDITCARD]",4452.03,120,0
7,31,False,40.731724,-74.006744,Barrow St & Hudson St,71.0,"[KEY, CREDITCARD]",5805.05,127,1
8,30,False,40.727103,-74.002971,MacDougal St & Prince St,71.0,"[KEY, CREDITCARD]",5687.04,128,2
9,46,False,40.761628,-73.972924,E 56 St & Madison Ave,71.0,"[KEY, CREDITCARD]",6771.02,137,0

## Merge back

now, lets imagine that we want the opposite - for each trip, show capacity of the station

again, we gonna merge

In [39]:
# new df    # right df  # left df (I subset to 2 cols) # method    # column name in left        # column name in right
new_trips = trips.merge(stations[['name', 'capacity']], how='left', left_on='start station name', right_on='name')

In [40]:
len(new_trips) == len(trips)

True

In [41]:
new_trips.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,name,capacity
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0,W 20 St & 11 Ave,49
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1,Lafayette St & E 8 St,55

## Spatial Join/Merge

Often, when you work with the geometry/geography, you have a task to group or attach features by their spatial relationships - for example, merge info on the region and all the stations in this region.

This can be done similarly in geopandas, using two geodataframe. We will talk about it later

## GroupBy

Note:
[really good tutorial on groupBy](http://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/)

Groupby is a very powerfull function that lets you...  
well, group dataframe and work with each particular group - work on it separately or aggregate it

obviously, you need to group by something - usually a column in your dataframe, or set of columns

In [45]:
# one way to use it is to loop over the groups:
for name, group in trips.groupby(['start station name', 'end station name']):
    # note that group, in this case, is also a dataframe
    print(name, len(group), group['tripduration'].median())

('6 Ave & Canal St', 'W 41 St & 8 Ave') 1 1145.0
('8 Ave & W 33 St', 'W 37 St & 5 Ave') 1 351.0
('Barrow St & Hudson St', 'W 42 St & 8 Ave') 1 1226.0
('E 11 St & 2 Ave', 'Pershing Square North') 1 659.0
('E 13 St & Avenue A', 'Greenwich Ave & 8 Ave') 1 556.0
('E 33 St & 2 Ave', '1 Ave & E 16 St') 1 464.0
('E 85 St & York Ave', 'E 20 St & 2 Ave') 1 1353.0
('Franklin Ave & Myrtle Ave', 'S 4 St & Wythe Ave') 1 777.0
('Fulton St & Broadway', 'Elizabeth St & Hester St') 1 472.0
('Greenwich Ave & 8 Ave', 'W 16 St & The High Line') 2 571.0
('Greenwich St & W Houston St', 'Bank St & Hudson St') 1 2199.0
('Greenwich St & W Houston St', 'Lexington Ave & E 29 St') 1 1568.0
('Henry St & Atlantic Ave', 'DeKalb Ave & Hudson Ave') 1 362.0
('Lafayette St & E 8 St', 'E 25 St & 1 Ave') 1 1735.0
('Lafayette St & E 8 St', 'W 25 St & 6 Ave') 1 492.0
('MacDougal St & Prince St', 'Lafayette St & Jersey St N') 1 466.0
('MacDougal St & Prince St', 'W 21 St & 6 Ave') 1 419.0
('Maiden Ln & Pearl St', 'John St & William St') 1 306.0
('N 8 St & Driggs Ave', 'Bedford Ave & Nassau Ave') 1 191.0
('S 3 St & Bedford Ave', 'Banker St & Meserole Ave') 1 492.0
('Suffolk St & Stanton St', 'Rivington St & Chrystie St') 1 209.0
('W 11 St & 6 Ave', 'E 4 St & 2 Ave') 1 767.0
('W 11 St & 6 Ave', 'Mott St & Prince St') 1 511.0
('W 20 St & 11 Ave', 'Greenwich St & W Houston St') 3 687.0
('W 22 St & 8 Ave', 'W 54 St & 9 Ave') 1 2229.0
('W 33 St & 7 Ave', 'Lexington Ave & E 29 St') 1 328.0
('W 43 St & 10 Ave', 'E 14 St & Avenue B') 1 1442.0

In [ ]:
# another way is to aggregate
# you can pass certain functions to the "groupby" object (sum, count, mean) and it will count 
# result for each group and create a new dataframe. However, it is usually a bad idea, as it will
# do so for each column, which usually does not make sence.

# so, instad, usually people use 'agg' function, and pass precise description of operations into it:
# you can pass dictionary {column:operation}, 
# or even {column:[op1, op2]}, 
# or even {column:{col_name1: op1, col_name2:op2}}

In [49]:
result = trips.groupby(['start station name', 
                        'end station name']).agg({'tripduration':{'mean':'mean',
                                                                  'median':'median', 
                                                                  'count': 'count'}})

In [50]:
result.head(10)

                                                   tripduration
                                                           mean median count
start station name        end station name
6 Ave & Canal St          W 41 St & 8 Ave                1145.0   1145     1
8 Ave & W 33 St           W 37 St & 5 Ave                 351.0    351     1
Barrow St & Hudson St     W 42 St & 8 Ave                1226.0   1226     1
E 11 St & 2 Ave           Pershing Square North           659.0    659     1
E 13 St & Avenue A        Greenwich Ave & 8 Ave           556.0    556     1
E 33 St & 2 Ave           1 Ave & E 16 St                 464.0    464     1
E 85 St & York Ave        E 20 St & 2 Ave                1353.0   1353     1
Franklin Ave & Myrtle Ave S 4 St & Wythe Ave              777.0    777     1
Fulton St & Broadway      Elizabeth St & Hester St        472.0    472     1
Greenwich Ave & 8 Ave     W 16 St & The High Line         571.0    571     2

In [51]:
# one backdrop here is that result has multiple indexes both for rows and columns now. 
# Sometimes it is very convinient, but sometimes it is not.  - it requires additional sintexis for slicing:

result['mean']

KeyError: 'mean'

In [53]:
#In this case let.s get rid of indexes (reset index)
# and drop first level of columns

result = result.reset_index()
result.head(2)

  start station name end station name tripduration
                                              mean median count
0   6 Ave & Canal St  W 41 St & 8 Ave       1145.0   1145     1
1    8 Ave & W 33 St  W 37 St & 5 Ave        351.0    351     1

In [54]:
result.columns = result.columns.droplevel(0)

In [55]:
result.head(2)

                                        mean  median  count
0  6 Ave & Canal St  W 41 St & 8 Ave  1145.0    1145      1
1   8 Ave & W 33 St  W 37 St & 5 Ave   351.0     351      1