In this notebook I am going to offer you a few problems to tackle. Most of them are very simple, so just read them through and check if you're on track. Let me know if you'll have questions with it.

HINT: also, feel free to google the answers

# Pandas

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('../l2/data/201601-citibike-tripdata_first_30.csv')

In [10]:
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2

## 1. Slicing

#### 1.1 print first 2 rows for column "stoptime"

#### 1.2 Print first 2 rws for columns "starttime" and "stoptime"

#### 1.3 Print first t rows for columns "gender", "usertype", "birth year" in this exact direction

#### 1.4 Print last 5 rws for columns "starttime" and "stoptime"

#### 1.5 Print rows 4 and 5 for "start station id" and "end station id"

## 2 Reading and Writing

#### 2.1 Go to the websiteand download any file. Read it into the dataframe
[link](https://s3.amazonaws.com/tripdata/index.html)

#### 2.2 Get first 10 rows of the file, select any 4 columns and store it to the csv and excel files

## 3. Masking

#### 3.1 for the first dataframe, print rows for users who are yonger than 27 years old (HINT: use birth year

#### 3.2 for the first dataframe, print rows for FEMALE users who are yonger than 27 years old. How many records did you get?

## 4. Stats

#### 4.1 What is the median birth year of the customers?

#### 4.2 What is the trip duration that cuts the top 10% of the rides?

#### 4.3 what is the average trip duration for the 25% trips made by youngest people?

##### Extra:  Can we correct this statistics and get data for 25% youngest users (not trips)?

## 5. Groupby

#### 5.1 is there more trips made by Customers or Subscribers?

#### 5.2 Is the average trip duration larger for Customers than for Subscribers?

#### 5.3 Is gender ratio different for Customers and Subscribers? number of users with unknown gender?

## 6. Feature Engineering

#### 6.1  Lets assume that lat and lon are similar enough for this case, so the distance between points equal to square root of vertical and horisontal deltas, squared. Create a new column with the linear air distance for each trip

#### 6.2 convert start time to actual datetime type. Is there more trips on monday, than on sunday?